# Dependency directories
node_modules/
build/
dist/

# Docker and environment files
docker-compose.override.yml
.env

# Logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
*.log

# Ignore local files
.vscode/
.idea/
*.local

# Ignore Docker volumes
docker-data/
