.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #232531;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  min-width: 200px;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  animation: fade-in 0.3s ease-out, fade-out 0.3s ease-out 5s;
}

.toast-content {
  display: flex;
  align-items: center;
}

.toast-icon {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 6px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.toast-icon .icon {
  width: 20px;
  height: 20px;
  color: #2b9875; /* Icon color */
}

.toast-title {
  color: white;
  font-size: 0.9rem;
}

/* Remove the close button or hide it if not needed */
.close-toast {
  display: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
