.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/workspaces/Capstone/capstoneproject/frontend/src/2092433-3721561376.jpg') no-repeat center center/cover; 
    background-size: cover;
    background-attachment: fixed;
}

.login-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px; /* Reduced padding for a more compact look */
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 350px; /* Reduced max-width */
    width: 100%;
}

.login-form h2 {
    margin-bottom: 15px; /* Reduced margin */
    color: #333;
    font-size: 1.8rem; /* Reduced font size */
}

.login-input {
    width: calc(100% - 30px); /* Adjusted width */
    padding: 12px; /* Reduced padding */
    margin: 8px 0; /* Reduced margins */
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem; /* Reduced font size */
}

.login-button, .signup-button, .back-button {
    width: calc(100% - 30px); /* Ensuring all buttons and inputs have the same width */
    padding: 10px; /* Reduced padding */
    border-radius: 8px;
    font-size: 1rem; /* Reduced font size */
    margin: 10px 0 0 0; /* Adjusted margins for consistency */
    transition: background-color 0.3s ease;
}

.login-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.login-button:hover {
    background-color: #45a049;
}

.signup-button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.signup-button:hover {
    background-color: #0056b3;
}

.back-button {
    background-color: #6c757d; /* Gray color for the back button */
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.back-button:hover {
    background-color: #5a6268; /* Darker gray on hover */
}

/* New styles for the custom modal */
.custom-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 12px;
    z-index: 1000;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    animation: fadeIn 0.3s ease-out;
}

.modal-content h3 {
    margin-bottom: 10px;
    font-size: 1.8rem;
    color: #4CAF50; /* Green color for success */
}

.modal-content p {
    font-size: 1.2rem;
    color: #c0c0c0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
