/* Profile.css */
.profile-page {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    color: white;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 1.2rem;
    color: #c0c0c0;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    padding: 15px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1rem;
    outline: none;
    transition: background-color 0.3s;
}

.form-group input:focus, .form-group textarea:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.form-group textarea {
    height: 100px;
    resize: none;
}

.save-button {
    width: 100%;
    padding: 12px 20px;
    background-color: #ff7300;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.save-button:hover {
    background-color: #ff5700;
}

/* Loader CSS (matching the ThreatDetectionPage.css) */
.loader {
  width: 30px;
  height: 30px;
  display: flex;
  transform-origin: 50% 125%;
  animation: mov-y 1s infinite linear;
}

.loader:before,
.loader:after {
  content: "";
  flex: 1;
  background: #fff;
  transform-origin: 0% 100%;
  animation: rtr-x 1s infinite linear;
}

.loader:before {
  transform-origin: 100% 100%;
  animation-name: rtr-rx;
}

@keyframes mov-y {
  0%, 25% {
      transform: translateY(0) scaleY(1);
  }

  49% {
      transform: translateY(-75%) scaleY(1);
  }

  50% {
      transform: translateY(-75%) scaleY(-1);
  }

  75%, 100% {
      transform: translateY(-150%) scaleY(-1);
  }
}

@keyframes rtr-x {
  25%, 75% {
      transform: rotate(0deg);
  }

  50% {
      transform: rotate(90deg);
  }
}

@keyframes rtr-rx {
  25%, 75% {
      transform: rotate(0deg);
  }

  50% {
      transform: rotate(-90deg);
  }
}
